.control-panel {
    position: fixed;
    right: 10px;
    top: 10px;
}

.control-panel.layout{
    width: 200px;
    height: auto;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}

.control-panel.layout>* {
    margin: 5px;
}
