<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--<clear />-->
		<add key="github" value="https://nuget.pkg.github.com/walking-down-the-silence/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="JustMeGaaRa" />
			<add key="ClearTextPassword" value="e4875486d0e10905d048fd8a45c9aedff99d513c" />
		</github>
	</packageSourceCredentials>
</configuration>
