@inherits GridBase

<div class="grid centered">
    <table>
        <tbody>
            @foreach (var row in Data)
            {
                <Row Data=@row />
            }
        </tbody>
    </table>
</div>