@inherits PopulationPatternGridBase

<div class="grid centered">
    <table>
        <tbody>
            @foreach (var row in Rows)
            {
                <PopulationPatternRow Columns=@row.Columns OnCellClick="@OnCellClick" Readonly="@Readonly"/>
            }
        </tbody>
    </table>
</div>