html,body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Segoe UI', 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
