@page "/"

<div class="layout">
    <section>
        <select>
            <option value="6">Beacon</option>
            <option value="4">Blinker</option>
            <option value="3">Glider</option>
            <option value="2">Gosper Glider Gun</option>
            <option value="1">Pulsar</option>
            <option value="5">Toad</option>
        </select>
        <button>Start</button>
        <button>Stop</button>
    </section>
    <section>
        <input type="text" placeholder="Name" minlength="3" maxlength="30" value="New Pattern">
        <input type="number" placeholder="Width" min="1" max="50" value="10">
        <input type="number" placeholder="Height" min="1" max="50" value="10">
        <button>Create</button>
    </section>
    <p>Generation: 52</p>
    <div class="grid centered">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population alive"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                    <td>
                        <div class="population dead"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>